{% extends 'layout.html' %}

{% block body %}
    <style>
            h1 {
                font-family: Times New Roman, sans-serif; /* Change the font family for the header */
                font-size: 35px; /* Change the font size for the header */
                color: #333; /* Change the color of the header */
            }
            p {
                font-family: Georgia, serif; /* Change the font family for the paragraph */
                font-size: 20px; /* Change the font size for the paragraph */
                color: #666; /* Change the color of the paragraph */
            }
    </style>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam officiis perspiciatis repellendus tempore. Ad earum error illo labore magni nisi sapiente, veniam? Eaque officiis reprehenderit rerum voluptate voluptates. Eius, voluptate.</p>
{% endblock %}