{% extends 'layout.html' %}

{% block body %}
    <h1>Додати лікарню</h1>
    <form action="{{ url_for('add_hospital') }}" method="POST" novalidate>
        <div class="form-group">
            <label for="name">Назва</label>
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="location">Адреса</label>
            {{ form.location(class="form-control", oninput="validateAddress(this)") }}
            <small id="addressHelp" class="form-text text-muted">Формат: вулиця *назва вулиці*, *номер будинку*, *місто*</small>
        </div>
        <div class="form-group">
            <label for="contact_number">Телефон</label>
            {{ form.contact_number(class="form-control", oninput="validatePhone(this)") }}
            <small id="phoneHelp" class="form-text text-muted">Формат: +38(XXX)XXX-XX-XX</small>
        </div>
        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
    <script>
        function validatePhone(input) {
            const pattern = /^\+38\(\d{3}\)\d{3}-\d{2}-\d{2}$/;
            const isValid = pattern.test(input.value);
            input.classList.toggle('is-invalid', !isValid);
            document.getElementById('phoneHelp').textContent = isValid ? 'Формат телефону правильний' : 'Формат телефону неправильний: +38(XXX)XXX-XX-XX';
        }

        function validateAddress(input) {
            const pattern = /^вулиця [^\,]+, \d+, [^\,]+$/;
            const isValid = pattern.test(input.value);
            input.classList.toggle('is-invalid', !isValid);
            document.getElementById('addressHelp').textContent = isValid ? 'Формат адреси правильний' : 'Формат адреси неправильний: "вулиця *назва вулиці*, *номер будинку*, *місто*"';
        }
    </script>
{% endblock %}
