{% extends 'layout.html' %}

{% block body %}
    <style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black with opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        border-radius: 10px;
        position: relative; /* Added to make the close button absolute */
    }

    /* Close button */
    .close {
        color: #aaa;
        position: absolute;
        top: 5px; /* Adjust as needed */
        right: 5px; /* Adjust as needed */
        font-size: 25px; /* Increase the font size */
        font-weight: bold;
        cursor: pointer; /* Change the cursor when hovering over the close button */
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
    }

    /* Style the form */
    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="password"] {
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button[type="submit"] {
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

    }
    </style>

    <h1>Записи пацієнтів</h1>
    <h2><small>Записи до Вас:</small></h2>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Лікарня</th>
            <th>Місце</th>
            <th>Дата</th>
            <th>Пацієнт</th>
            <th>Статус</th>
            <th>Деталі</th>
            <th>Видалити</th>
        </tr>
        {% for appointment in appointments %}
            {% if appointment.doctor_id == session['user_id'] %}
                <tr>
                    <td>{{ appointment.doctor.hospital.name }}</td>
                    <td>{{ appointment.doctor.hospital.location }}</td>
                    <td>{% if appointment.date_time == None %} - {% else %} {{ appointment.date_time }} {% endif %}</td>
                    <td>{{ appointment.user.surname + ' ' + appointment.user.name + ' ' + appointment.user.patronymic}}</td>
                    <td>{{ appointment.status }}</td>
                    <td><a class="btn btn-primary" href="{{ url_for('appointment', id=appointment.id) }}">Деталі</a></td>
                    <td>
                        <form id="delete_appointment_{{ appointment.id }}" action="{{ url_for('confirm_delete_appointment', id=appointment.id) }}" method="POST">
                            <input type="button" value="Видалити" class="btn btn-danger" onclick="confirmDelete('delete_appointment_{{ appointment.id }}')">
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h1>Ви впевнені, що хочете видалити цей запис до лікаря?</h1>
            <p>Щоб підтвердити, уведіть свій пароль:</p>
            <form id="confirmForm" method="POST" action="">
                <input type="password" name="password" placeholder="Уведіть пароль" required>
                <input type="submit" class="btn btn-danger me-2" value="Підтвердити">
            </form>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>

    <script>
        function confirmDelete(formId) {
            document.getElementById('confirmForm').action = document.getElementById(formId).action;
            document.getElementById('confirmModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('confirmModal').style.display = 'none';
        }
    </script>
{% endblock %}
