{% extends 'layout.html' %}

{% block body %}
    <style>
        h1 {
            font-family: Times New Roman, sans-serif; /* Change the font family for the header */
            font-size: 45px; /* Change the font size for the header */
            color: #333; /* Change the color of the header */
        }
        p {
            font-family: Georgia, serif; /* Change the font family for the paragraph */
            font-size: 25px; /* Change the font size for the paragraph */
            color: #666; /* Change the color of the paragraph */
        }
    </style>
    <div class="jumbotron text-center">
        <h1>Ласкаво просимо до SluchECG</h1>
        <p>Відчуйте майбутнє медицини: Здійснюйте ЕКГ-тести та дозвольте нашій передовій системі проаналізувати їх за вас.</p>
    </div>
{% endblock %}